body {
    background: linear-gradient(to top, pink 0%, pink 10%, red 10%, red 100%)
    font-family:Comfortaa;
    font-size:20px;
    text-align:center;
    
    display: flex;
    justify-content: center;
    align-items:center;
}
