body {
    background-color:#c3e1f5;
    font-family:Comfortaa;
    font-size:20px;
    text-align:center;
}

.header {
    background-color:#252525;
    height:200px;
    color:#09599f;
}
